:root {
    --time: 1s;
    --prespective: perspective(700px);
}

.backFace {
    transform: var(--prespective) rotateY(180deg);
}

.frontFace {
    transform: var(--prespective) rotateY(0deg);
}

.frontFaceSpin {
    animation: frontFaceSpinFoward var(--time) forwards;
}

.backFaceSpin {
    animation: backFaceSpinFoward var(--time) forwards;
}

.frontFaceGetBack {
    animation: frontFaceBack var(--time) forwards;
}

.backFaceGetBack {
    animation: backFaceBack var(--time) forwards;
}

@keyframes frontFaceSpinFoward {
    0% {
        transform: var(--prespective) rotateY(0deg);
    }
    100% {
        transform: var(--prespective) rotateY(-180deg);
    }
}

@keyframes backFaceSpinFoward {
    0% {
        transform: var(--prespective) rotateY(180deg);
    }
    100% {
        transform: var(--prespective) rotateY(0deg);
    }
}

@keyframes frontFaceBack {
    0% {
        transform: var(--prespective) rotateY(-180deg);
    }
    100% {
        transform: var(--prespective) rotateY(0deg);
    }
}

@keyframes backFaceBack {
    0% {
        transform: var(--prespective) rotateY(0deg);
    }
    100% {
        transform: var(--prespective) rotateY(180deg);
    }
}