:root {
    --logoSize: 5vw;
    --cardSize: 9vw;
    --boardSize: 60vw;
    --colorOscuro: rgb(54, 48, 48);
}

body {
    background-color: var(--colorOscuro);
}

#mainContainer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../img/wallpaper2.jpg");
}

#gameBox {
    margin: auto;
    text-align: center;
    width: var(--boardSize);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
    position: relative;
    width: var(--cardSize);
    height: var(--cardSize);
    margin: 5px 0px;
    transform-style: preserve-3d;
    border: 1px solid transparent;
    border-radius: 10%;
}

.card:hover {
    cursor: pointer;
}

.face {
    position: absolute;
    border: 2px solid var(--colorOscuro);
    border-radius: 10%;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.frontFace {
    z-index: 2;
    background: var(--colorOscuro);
    border: 2px solid white;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backFace {
    z-index: 1;
    background-color: red;
    background-repeat: no-repeat;
    background-size: var(--cardSize) var(--cardSize);
    background-position: center;
}

.frontFace>img {
    width: var(--logoSize);
    filter: grayscale(1) invert(1)
}

#marcador {
    text-align: center;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: var(--colorOscuro);
    padding: 10px 0;
    border-radius: 10%;
}