:root {
    --logoSize: 5vw;
    --cardSize: 9vw;
    --boardSize: 50%;
    --colorOscuro: rgb(54, 48, 48);
}

body {
    background-color: var(--colorOscuro);
    background: url("../img/wallpaper2.jpg");
}

#mainContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#gameBox {
    position: relative;
    margin: auto;
    width: var(--boardSize);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    position: relative;
    width: var(--cardSize);
    height: var(--cardSize);
    margin: 5px 0px;
    transform-style: preserve-3d;
    border: 1px solid transparent;
    border-radius: 10%;
}

.card:hover {
    cursor: pointer;
}

.face {
    position: absolute;
    border: 2px solid var(--colorOscuro);
    border-radius: 10%;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.frontFace {
    z-index: 2;
    background: var(--colorOscuro);
    border: 2px solid white;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backFace {
    z-index: 1;
    background-color: red;
    background-repeat: no-repeat;
    background-size: var(--cardSize) var(--cardSize);
    background-position: center;
}

.frontFace>img {
    width: var(--logoSize);
    filter: grayscale(1) invert(1);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#marcador {
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: 'Zen Dots', cursive;
    color: white;
    background: linear-gradient(328deg, rgba(255, 255, 255, 0) 0%, var(--colorOscuro) 40%, var(--colorOscuro) 60%, rgba(255, 255, 255, 0) 100%);
    padding: 10px 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 2.5%;
}

#win {
    z-index: 1001;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(328deg, rgba(255, 255, 255, 0) 0%, var(--colorOscuro) 40%, var(--colorOscuro) 60%, rgba(255, 255, 255, 0) 100%);
    color: white;
    font-family: 'Zen Dots', cursive;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 300px) and (min-width: 100px) {
     :root {
        --logoSize: 15vw;
        --cardSize: 26vw;
        --boardSize: 100%;
    }
    #gameBox {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 730px) and (min-width: 300px) {
     :root {
        --logoSize: 10vw;
        --cardSize: 20vw;
        --boardSize: 100%;
    }
    #gameBox {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1260px) and (min-width: 730px) {
     :root {
        --logoSize: 7vw;
        --cardSize: 15vw;
        --boardSize: 80%;
    }
    #gameBox {
        grid-template-columns: repeat(5, 1fr);
    }
}