#volumenContainer{
    position: absolute;
    z-index: 2000;
    display: flex;
    align-items: center;
    filter: grayscale(1) invert(1);
}

#volumenIcon{
    width: 2vw;
    filter: grayscale(1) invert(1);
    cursor: pointer;
}
#volumenBar{
    width: 100%;
    display: none;
}
#volumenContainer:hover #volumenBar{
    display: block;
}